<a href="https://colab.research.google.com/github/Akashkunwar/Guvi-assignment/blob/main/Student_Database_in_MongoDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

  # **Student Database in MongoDB**

In [1]:
!pip install dnspython
!pip install pymongo[srv]
!pip install opendatasets

import pymongo
from pymongo import MongoClient
import opendatasets as od
import pandas as pd
import re
import json

client = pymongo.MongoClient("mongodb+srv://kunwar:kunwar123@cluster0.n7y6p.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.Student_Database
records = db.Student_Database_collection
records.count_documents({})

# records1 = db.total_average
# records1.count_documents({})

#Downloading Datasets
od.download("https://raw.githubusercontent.com/Akashkunwar/Guvi-assignment/main/Files%20of%20Student%20Database/students.json")

Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.2.0)
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.0)
Requirement already satisfied: opendatasets in /usr/local/lib/python3.7/dist-packages (0.1.20)
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from opendatasets) (4.63.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (6.1.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2021.10.8)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (2.10)
Downloading https://raw.githubusercontent.com/Akashkunwar/Guvi-assignment/main/Files%20of%20Student%20Database/students.json to ./students.json

40960it [00:00, 2933370.19it/s]

In [2]:
def separate_column(row):
    for e in row["scores"]:
        row[e["type"]] = e["score"]
    return row


with open('/content/students.json', 'r') as file:
    data = [json.loads(line.rstrip()) for line in file]

df = pd.json_normalize(data)
df = df.apply(separate_column, axis=1)
df = df.drop(['scores'], axis=1)

#Creating dictionary from DataFrame
data1 = df.to_dict(orient = "records")

#Inserting all records in DataBase
# records.insert_many(data1)

# Number of inserted records
records.count_documents({})

# Directly inserting json file without organising
# import json
# data = []
# with open('/content/students.json', errors='ignore') as f:
#     for line in f:
#         data.append(json.loads(line))
# print(data[0])
# records.insert_many(data)

mydoc = records.find({},{'_id':1,"name":1,"exam":1, "quiz":1, "homework":1})
lis = []
for x in mydoc.sort("name"):
  lis.append(x)
data_df = pd.DataFrame(lis)
data2 = pd.DataFrame(lis)

# Findinf total marks
sum_column = data2["exam"] + data2["quiz"] + data2["homework"]
data2["Total Marks"] = sum_column

# data2.set_index('_id', inplace=True)
# data2.sort_index(axis = 0, inplace = True)

# Assign pass fail in respect to marks
pass_fail = data2.copy()

grades = {
    40: "Pass",
    0: "Fail",
}

def grade_mapping(value):
    for key, letter in grades.items():
        if value >= key:
            return letter

letter_grades = pass_fail["exam"].map(grade_mapping)
pass_fail["exam"] = pd.Categorical(
    letter_grades, categories=grades.values(), ordered=True
)

letter_grades = pass_fail["quiz"].map(grade_mapping)
pass_fail["quiz"] = pd.Categorical(
    letter_grades, categories=grades.values(), ordered=True
)

letter_grades = pass_fail["homework"].map(grade_mapping)
pass_fail["homework"] = pd.Categorical(
    letter_grades, categories=grades.values(), ordered=True
)

# Find total and avg marks
# sum_column = data2["exam"] + data2["quiz"] + data2["homework"]
# data2["Total Marks"] = sum_column

#Finding average marks
average_marks = (data2["exam"] + data2["quiz"] + data2["homework"])/3
data2["Average Marks"] = average_marks

In [7]:
print("""

1.) Find student name who scored maximum scores in all (exam, quiz and homework) are:""")
# max_marks = data2.copy
# sum_column = data2["exam"] + data2["quiz"] + data2["homework"]
# max_marks["Total Marks"] = sum_column
# average_marks = (data2["exam"] + data2["quiz"] + data2["homework"])/3
# max_marks["Average Marks"] = average_marks
# display(data2.loc[data2['Total Marks'] >= data2["Total Marks"].max()].sort_values('_id').style.hide_index())
max_marks = data2.loc[data2['Total Marks'] >= data2["Total Marks"].max()].sort_values('_id')#.style.hide_index()
max_marks.drop("Total Marks",inplace=True,axis=1)
max_marks.drop("Average Marks",inplace=True,axis=1)
display(max_marks.style.hide_index())

print("""

2.) Find students who scored below average in the exam and pass mark is 40% are:""")
below_avg = data2.loc[data2['Total Marks'] >= data2["Total Marks"].mean()].sort_values('_id')
below_avg.drop("Total Marks",inplace=True,axis=1)
below_avg.drop("Average Marks",inplace=True,axis=1)
display(below_avg.sort_values('_id'))#.style.hide_index())

print("""

3.) Find students who scored below pass mark and assigned them as fail, and above pass mark as pass in all the categories:""")
display(pass_fail.drop("Total Marks",axis=1).sort_values('_id'))

print("""

4.) Find the total and average of the exam, quiz and homework and store them in a separate collection.""")

##Inseting data in database
records1 = db.total_average
records1.count_documents({})

#Creating dictionary from DataFrame
data2_dic = data2.to_dict(orient = "records")

#Inserting all records in DataBase
# records1.insert_many(data2_dic)

mydoc1 = records1.find({},{'_id':1,"name":1,"exam":1, "quiz":1, "homework":1, "Total Marks":1,	"Average Marks":1})
lis = []
for x in mydoc1.sort("name"):
  lis.append(x)
tot_avg = pd.DataFrame(lis)
display(tot_avg.sort_values('_id'))


print("""

5.) Create a new collection which consists of students who scored below average and above 40% in all the categories.""")

data_df["exam"].mean()
data_df["quiz"].mean()
data_df["homework"].mean()

below_avg_above_pass = data_df[data_df["exam"]<data_df["exam"].mean()]
below_avg_above_pass = below_avg_above_pass[below_avg_above_pass["quiz"]<data_df["quiz"].mean()]
below_avg_above_pass = below_avg_above_pass[below_avg_above_pass["homework"]<data_df["homework"].mean()]

below_avg_above_pass = below_avg_above_pass[below_avg_above_pass["exam"]>40]
below_avg_above_pass = below_avg_above_pass[below_avg_above_pass["quiz"]>40]
below_avg_above_pass = below_avg_above_pass[below_avg_above_pass["homework"]>40]
# display(below_avg_above_pass)


##Inseting data in database
records2 = db.below_avg_above_pass
records2.count_documents({})

#Creating dictionary from DataFrame
data3_dic = below_avg_above_pass.to_dict(orient = "records")

#Inserting all records in DataBase
# records2.insert_many(data3_dic)
print("No one got below average and above pass marks")

mydoc2 = records1.find({},{'_id':1,"name":1,"exam":1, "quiz":1, "homework":1})
lis1 = []
for x in mydoc2.sort("name"):
  lis1.append(x)
below_avg_above_pass1 = pd.DataFrame(lis1)
display(below_avg_above_pass.sort_values('_id'))


print("""

6.) Create a new collection which consists of students who scored below the fail mark in all the categories.""")
below_fail_marks = data_df[data_df["exam"]<40]
below_fail_marks = below_fail_marks[below_fail_marks["quiz"]<40]
below_fail_marks = below_fail_marks[below_fail_marks["homework"]<40]
# display(below_avg_above_pass)


##Inseting data in database
records3 = db.below_fail_marks
records3.count_documents({})

#Creating dictionary from DataFrame
data4_dic = below_fail_marks.to_dict(orient = "records")

#Inserting all records in DataBase
# records3.insert_many(data4_dic)

mydoc3 = records3.find({},{'_id':1,"name":1,"exam":1, "quiz":1, "homework":1})
lis3 = []
for x in mydoc3.sort("name"):
  lis3.append(x)
below_fail_marks1 = pd.DataFrame(lis3)
display(below_fail_marks1.sort_values('_id'))

print("""

7.) Create a new collection which consists of students who scored above pass mark in all the categories.""")
above_pass_mark = data_df[data_df["exam"]>40]
above_pass_mark = above_pass_mark[above_pass_mark["quiz"]>40]
above_pass_mark = above_pass_mark[above_pass_mark["homework"]>40]
# display(below_avg_above_pass)


##Inseting data in database
records4 = db.above_pass_mark
records4.count_documents({})

#Creating dictionary from DataFrame
data4_dic = above_pass_mark.to_dict(orient = "records")

#Inserting all records in DataBase
# records4.insert_many(data4_dic)

mydoc4 = records4.find({},{'_id':1,"name":1,"exam":1, "quiz":1, "homework":1})
lis4 = []
for x in mydoc4.sort("name"):
  lis4.append(x)
above_pass_mark1 = pd.DataFrame(lis4)
display(above_pass_mark1.sort_values('_id'))

1.) Find student name who scored maximum scores in all (exam, quiz and homework) are:

2.) Find students who scored below average in the exam and pass mark is 40% are:

     _id              name       exam       quiz   homework
9      1  Aurelia Menendez  60.060451  52.797907  71.761334
196    4  Zachary Langlais  78.683851  90.296310  34.416201
153    7      Salena Olmos  90.378265  42.487807  96.529862
155    9        Sanda Ryba  97.005100  97.804496  25.273685
34    10      Denisha Cast  45.618769  98.357232  55.908357
..   ...               ...        ...        ...        ...
109  188      Leola Lundin  60.314726  41.123275  74.869918
177  189      Tonia Surace  67.934056  31.497211  82.364959
2    190      Adrien Renda  64.161092  66.937306  96.056034
49   191       Efrain Claw  94.671538  82.300879  75.860758
107  192       Len Treiber  39.198329  98.716793  44.822893

[101 rows x 5 columns]

3.) Find students who scored below pass mark and assigned them as fail, and above pass mark as pass in all the categories:

     _id              name  exam  quiz homework
198    0        aimee Zank  Fail  Fail     Fail
9      1  Aurelia Menendez  Pass  Pass     Pass
26     2       Corliss Zuk  Pass  Fail     Pass
11     3        Bao Ziglar  Pass  Fail     Pass
196    4  Zachary Langlais  Pass  Pass     Fail
..   ...               ...   ...   ...      ...
113  195     Linnie Weigel  Pass  Pass     Fail
158  196  Santiago Dollins  Pass  Fail     Pass
179  197     Tonisha Games  Fail  Fail     Pass
175  198    Timothy Harrod  Fail  Fail     Pass
142  199        Rae Kohout  Pass  Pass     Fail

[200 rows x 5 columns]

4.) Find the total and average of the exam, quiz and homework and store them in a separate collection.

,_id,name,exam,quiz,homework,Total Marks,Average Marks
198,0,aimee Zank,1.463180,11.782733,35.874035,49.119948,16.373316
9,1,Aurelia Menendez,60.060451,52.797907,71.761334,184.619692,61.539897
26,2,Corliss Zuk,67.030771,6.301852,66.283447,139.616069,46.538690
11,3,Bao Ziglar,71.643439,24.802213,42.261471,138.707123,46.235708
196,4,Zachary Langlais,78.683851,90.296310,34.416201,203.396363,67.798788
...,...,...,...,...,...,...,...
113,195,Linnie Weigel,52.445784,90.777505,11.750084,154.973373,51.657791
158,196,Santiago Dollins,52.040526,33.633001,78.792574,164.466100,54.822033
179,197,Tonisha Games,38.512696,31.162876,79.158564,148.834135,49.611378
175,198,Timothy Harrod,11.907567,20.518800,64.856504,97.282871,32.427624
142,199,Rae Kohout,82.117426,49.612955,28.868237,160.598617,53.532872

5.) Create a new collection which consists of students who scored below average and above 40% in all the categories.
No one got below average and above pass marks

Empty DataFrame
Columns: [_id, name, exam, quiz, homework]
Index: []

6.) Create a new collection which consists of students who scored below the fail mark in all the categories.

   _id        name     exam       quiz   homework
0    0  aimee Zank  1.46318  11.782733  35.874035

7.) Create a new collection which consists of students who scored above pass mark in all the categories.

    _id               name       exam       quiz   homework
1     1   Aurelia Menendez  60.060451  52.797907  71.761334
38    7       Salena Olmos  90.378265  42.487807  96.529862
5    10       Denisha Cast  45.618769  98.357232  55.908357
26   11       Marcus Blohm  78.426178  82.583728  87.499247
35   12     Quincy Danaher  54.298413  85.612702  80.407324
20   13   Jessika Dagenais  90.471800  90.300140  95.177538
50   18   Verdell Sowinski  62.128702  84.745862  81.589478
49   20     Tressa Schwing  42.174398  71.993148  81.239726
41   23   Tamika Schildgen  45.654328  64.329270  83.539334
15   32         Gwen Honig  87.143454  99.458244  76.664605
10   36   Eugene Magdaleno  73.055900  79.856216  66.091437
42   52       Tawana Oberg  80.590061  93.284381  93.121340
22   54        Joel Rueter  87.536369  92.709747  61.790326
47   55        Tresa Sinha  94.931370  72.322261  77.248769
14   61        Grady Zemke  51.915613  50.083494  95.341393
51   64      Whitley Fears  89.618458  82.448792  96.579121
12   65        Gena Riccio  67.583953  67.241350  42.934718
31   67       Merissa Mann  75.194973  52.565226  94.675182
18   68    Jenise Mcguffie  40.152105  90.602200  51.587203
46   75       Tonia Surace  80.936551  79.546202  41.343087
28   79     Mariela Sherer  61.201581  52.756573  90.970048
45   84     Timothy Harrod  93.230200  49.060103  74.007887
37   85         Rae Kohout  63.868943  55.815495  59.135660
34   90       Osvaldo Hirt  67.449315  41.779865  76.308795
27   97     Maren Scheider  94.432912  77.282637  59.463262
3    98        Carli Ector  88.180403  60.311109  96.336121
17   99      Jaclyn Morado  70.276271  56.784704  47.485183
30  102   Mercedez Garduno  49.528770  44.555051  81.508697
2   104    Brittny Warwick  69.543999  82.004699  95.964461
39  105     Shin Allbright  62.283889  85.268638  88.994794
32  108  Mikaela Meidinger  63.755951  59.522981  88.664814
11  109        Flora Duell  40.682390  46.779720  69.294001
33  110      Nobuko Linzey  67.407926  58.583311  47.448316
13  111      Gennie Ratner  62.743100  92.180138  53.111745
4   116        Corliss Zuk  76.454688  53.026429  91.865731
53  118   Zachary Langlais  62.204578  61.037334  82.416882
52  119     Wilburn Spiess  52.369630  96.571545  61.350340
36  126     Quincy Danaher  40.531369  83.092702  79.004551
21  127   Jessika Dagenais  96.934599  95.675637  70.788730
40  129     Tambra Mercure  62.614239  47.647767  85.205785
6   130      Dodie Staller  52.160511  83.515631  63.888576
8   141       Edgar Sarkis  65.998880  58.755989  75.063794
44  159     Terica Brugger  97.822031  91.562805  62.019763
43  166       Tawana Oberg  79.247553  97.281272  67.052822
25  167      Malisa Jeanes  40.686760  52.608267  94.679795
48  169        Tresa Sinha  52.226320  65.687011  86.804102
7   174      Dusti Lemmond  91.519681  50.376827  51.539391
19  182    Jenise Mcguffie  83.684382  73.799318  89.572009
16  184   Harriett Velarde  41.479883  95.694937  83.039160
23  185        Kam Senters  49.882254  45.295154  68.880490
24  188       Leola Lundin  60.314726  41.123275  74.869918
0   190       Adrien Renda  64.161092  66.937306  96.056034
9   191        Efrain Claw  94.671538  82.300879  75.860758
29  193     Mariela Sherer  47.671967  41.557435  70.461281